@import url('https://fonts.googleapis.com/css?family=Oxygen|Prompt:600&display=swap');

/* ---------------------------------- Style Menu ---------------------- */
/* Style Menu Mobile */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container
{
    font-family: 'Prompt', sans-serif;
    transition: all linear .3s;
}

.nav
{
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, .9); 
}
.menu-mobile
{
    width: 100%;
    height: 100vh;
    background:rgba(0,0, 0, .6);
    position: absolute;
    z-index: 9;
    display:none;
}

.menu-mobile.show-menu
{
    display: block;
}

.icon-menu
{
    position: absolute;
    font-size: 2.5rem;
    color: rgb(73, 141, 73);
    margin: 25px 0 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.menu-mobile .menu
{
    width: 35vh;
    height: 100vh;
    background: rgba(0, 0, 0, .7); 
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes open-menu{
    from {
        opacity: 0;
        transform: translate3d(-80px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.menu-mobile.show-menu .menu{
    animation: open-menu .3s;
} 

.menu-mobile .menu ul
{
    width: 100%;
    height: 60vh;
    list-style: none;
}

.menu-mobile .menu ul a
{
    text-decoration: none;
    color: azure;
}

.menu-mobile .menu ul li
{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 8px 0 8px 20px;
    transition: background .6s;
}

.menu-mobile .menu ul li:hover
{
    background-color: rgba(73, 141, 73, .8);
}
/* End Style Menu Mobile  */

/* Menu Desktop */

.menu-desktop .menu
{
    display: flex;
    align-items: center;
    height: 90px;
    
}

.menu-desktop .menu ul
{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-desktop .menu ul li
{
    display: inline-block;
    padding: 10px;
    font-size: 1.1rem;
}

.menu-desktop .menu ul a
{
    text-decoration: none;
    color: azure;
    margin: 0 5px;
}

.menu-desktop .menu ul a:hover
{
    border-bottom: 3px solid rgba(73, 141, 73, .8);
}

/* End Menu Desktop */


/* Responsivo */
@media only screen and (min-width: 1200px)
{
    .logo-menu
    {   
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 3.7rem;
        color: rgb(73, 141, 73);
    }
    .icon-menu
    {
        display: none;
    }
    .menu-desktop
    {
        display: block;
    }
}

@media only screen and (max-width: 1190px)
{
    .logo-menu
    {   
        position: absolute;
        top: 5px;
        right: 30px;
        font-size: 3.7rem;
        color: rgb(73, 141, 73);
    }
    .icon-menu
    {
        display: block;
    }
    .menu-desktop
    {
        display: none;
    }
}

/* ----------------------------- END MENU ------------------------------- */

/* --------------------------------- MODAL ------------------------------ */
.modal-container
{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.6);
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.show
{
    display: flex;
}

.modal
{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    background: #222;
    color: rgb(243, 243, 243);
    width: 40%;
    min-width: 280px;
    padding: 15px;
    position: relative;
    border-radius: 5px;
}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -80px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

.modal-header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px;
    border-bottom: 1px solid whitesmoke;
}

.modal .modal-header span
{
    font-size: 1.6em;
    cursor: pointer;
    color: #c01010;
}


.modal-body
{
    text-align: justify;
    padding: 10px;
    min-width: 500px;
}

.modal-footer
{
    padding: 10px;
    text-align: right;
}

.modal-footer input
{
    padding: 10px 12px 10px 12px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: opacity 0.2s;
    color: whitesmoke;
}

.modal-footer input:hover
{
    opacity:0.8;   
}

.btn-modal-ok
{
    background: rgb(47, 94, 47);
}

.btn-modal-close
{
    background: #8b0a0a;
}

#show-modal{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    background: rgb(47, 94, 47);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    transition: opacity .2s;
}

#show-modal:hover
{
    opacity: .9;
}

/* END MODAL */