*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    background: #10463d;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
}

p
{
    background: #092722;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
}