*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background: rgba(0, 0, 0, .7);
}
.container-body
{
    color: whitesmoke;
    width: 100%;
    height: 90vh;
    opacity: 1;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    justify-content: center;
    background:  rgba(0, 0, 0, .1);
    /* font-variant: small-caps; */
}

.container-body .text-body
{
    width: 50%;
    font-size: 3vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
    padding: 100px 20px;
    
}
.container-body  .effect-body
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-flex
{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, .7); 
    font-family: 'Aldrich', sans-serif;
    display: flex;
    align-items: center;
}

.img-desktop
{
    background: url('../img/desktop.png');
}

.img-web
{
    background: url('../img/web.png');
}

.img-mobile
{
    background: url('../img/mobile.png');
}

.bg-img
{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
}

.mb
{
    margin: 30px 0;
}


.content
{
    width: 33%;
    padding: 90px 10px 10px 10px;
    color: whitesmoke;
    height: 400px;
    transition: transform .5s linear;
    
}

.content h1
{
    text-align: center;
    margin-bottom: 20px;
}

.content p
{
    text-align: justify;
    padding: 0 20px;
}

.container-text
{
    width: 100%;
    min-height: 100vh;
    color:whitesmoke;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
}

.content-text
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-text-title
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    line-height: 100px;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 3em;
}

.content-text-icons
{
    width: 35%;
    height: 50%;
    font-weight: bold;
    text-align: justify;
    padding:20px;    
}

.content-text-icons .content-img
{

    margin: 20px 50px 20px 40px;
    padding: 10px;
}
.content-text-icons .content-img img
{
    margin: 12px 0;
}


.container-footer
{
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, .9);
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

.content-footer-left
{
    width: 18%;
    justify-content: flex-start;
    text-align: left;
    letter-spacing: 2px;
}

.content-footer-center
{
    width:60%;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}

.content-footer-right
{
    width: 18%;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.content-footer-right a
{
    font-size: 1.5em;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    justify-content: flex-end;
}
.content-footer-right a + a 
{
    margin: 0 5px;
}

.content-footer-right a + a + a
{
    margin: 0 5px; 
}
@media only screen and (min-width: 1200px)
{
    .desktop 
    {
        transform: translateX(-2000px);
    }
    .web
    {
        transform: translateX(-2000px);
    }
    .mobile
    {
        transform: translateX(-2000px);
    }
}
@media only screen and (max-width: 1190px)
{
    .container-body
    {
        width: 100%;
        padding-top: 20px;
    }
    .container-body .text-body
    {
        width: 100%;
        position: absolute;
        font-size: 4.5vw;
        line-height: 30px;
        z-index: 3;
    } 
    .container-body  .effect-body
    {
        width: 80%;
        position: absolute;
        z-index: 0;
        opacity: .2;
    }
    .container-flex
    {
        display: block;
    }

    .desktop 
    {
        transform: translateX(-1000px);
    }
    .web
    {
        transform: translateX(-1000px);
    }
    .mobile
    {
        transform: translateX(-1000px);
    }

    .content
    {
        width: 100%;
    }
    .content-text
    {
        display: block;
        width: 100%;
    }
    .content-text-title
    {
        width: 60%;
        letter-spacing: 1px;
        margin: 40px auto;
        font-size: 2em;
    }
    .content-text-icons 
    {
        width: 100%;
        margin-bottom: 50px;
    }
    .content-img img
    {
        width: 50px;
        margin: 0 20px;
    }
    .container-footer
    {
        font-size: .8em;
    }

    .content-footer-left
    {
        width: 20%;
        letter-spacing: 0;
    }

    .content-footer-center
    {
        width:60%;
        letter-spacing: 0;
    }
    .content-footer-right
    {
        width: 30%;
    }
}